@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
}

@layer base {
  :root {
    --primary: #f36f20;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-slideInRight {
  animation: slideInRight 0.7s ease-in-out forwards;
}

.animate-slideOutRight {
  animation: slideOutRight 0.7s ease-in-out forwards;
}
#my-element {
  display: none;
}
#navbarpriv {
  display: none;
}
#footerpriv {
  padding: 30px;
}

@media (min-width: 640px) {
  #my-element {
    display: block;
  }
  #navbarpriv {
    display: flex;
  }
  #footerpriv {
    padding: 30px 0;
  }
}
